/* 
    Document   : keyword_manager.css
    Created on : 2012-9-21, 10:10:11
    Author     : windows
    Description:
        Purpose of the stylesheet follows.
*/

/*  */
#container > .inner { border: #DCDCDC 1px solid; }

/* 左右连接 */
#page_left { width: 220px; }
#page_left > .inner { position: relative; z-index: 2; width: 220px; border: none; }

/* 左侧子导航树 */
.children_tree { width: 225px; }
.children_tree li { height: 48px; line-height: 48px; text-indent: 1em; font-size: 16px; }
.children_tree li a { width: 220px; display: block; border-bottom: #DCDCDC 1px solid; }
.children_tree .selected { width: 225px; background: url('../../img/bg_children_selected.png') 0 0 no-repeat; }
.children_tree .selected a { display: block; color: #FFFFFF; }

/* 左右连接 */
#page_right { width: 740px; }
#page_right > .inner { position: relative; z-index: 1; width: 700px; padding: 14px 20px; border: none; border-left: #DCDCDC 1px solid; background: #FFFFFF; }

/* 页面地址 */
.location { padding-bottom: 14px; font-size: 16px; border-bottom: #DCDCDC 1px solid; }

/* 表格树容器 */
.content { margin-top: 20px; padding: 20px; border-radius: 3px; -moz-border-radius: 3px; -webkit-border-radius: 3px; background: #DDDDDD; }

.add_root { position: relative; display: inline-block; top: 3px; left: 5px; width: 15px; height: 15px; font-size: 0; cursor: pointer; background: url('../../icons/plus.png') 0 center no-repeat; opacity: 0.6; filter: aplha(opacity=60); }
.add_root:hover { opacity: 1; filter: aplha(opacity=100); }

/* 弹出框 - TAB 面板切换 */
.tabs-container { float: left; width: 650px !important; margin: 20px 30px 0; }
.tabs-panels { clear: both; width: 610px !important; }
.tabs-panels .info { padding: 14px 0 16px 0; border-top: #C2C2C2 1px solid; margin-top: -1px; }
.tabs-panels .info dt { height: 14px; padding: 6px 2px; }
.tabs-panels .info dt .left { font-weight: bold; font-size: 15px; }
.tabs-panels .info dt .right { font-size: 12px; }
.tabs-panels .info dd { line-height: 20px; }

/* 弹出框 - 添加关键词表单 */
.window form { clear: both; width: 650px; padding: 30px 0 0 30px; }
/*.window form label { clear: both; display: block; width: 650px; padding-bottom: 10px; font-size: 16px; }
.window form input { clear: both; display: block; width: 640px; height: 28px; line-height: 28px; margin-bottom: 20px; padding: 5px; font-size: 16px; border: none; background: url('../../img/bg_keyword_add_input.png') 0 0 no-repeat; }*/
.window form label { float: left;/* width: 310px;*/ padding-bottom: 10px; padding-right: 10px; font-size: 16px; }
.window form input[type=text] { clear: both; display: inline; width: 300px; height: 28px; line-height: 28px; margin-bottom: 20px; padding: 5px; font-size: 16px; border: none; background: url('../../img/bg_keyword_add_input.png') 0 0 no-repeat; }
#category_form label { clear: both; display: block; width: 650px; padding-bottom: 10px; font-size: 16px; }
#category_form input { clear: both; display: block; width: 640px; height: 28px; line-height: 28px; margin-bottom: 20px; padding: 5px; font-size: 16px; border: none; background: url('../../img/bg_keyword_add_input.png') 0 0 no-repeat; }
/*.label_radio {clear: none;width: 20px;margin: 0; padding: 0;}*/
.input_div {float: left;}
.label_div {float: left;padding: 32px 0 0 20px;}
.window form .label_radio   {margin-top: 6px;}
.window form a { float: left; width: 72px; height: 29px; line-height: 30px; margin-right: 10px; text-align: center; font-size: 15px; color: #FFFFFF; text-decoration: none; background: url('../../img/bg_keyword_add_out.png') 0 0 no-repeat; overflow: hidden; }
.window form .confirm a:hover, .window form .confirm a:focus { background: url('../../img/bg_keyword_add_over.png') 0 0 no-repeat; }
.window form .disabled { background: url('../../img/bg_keyword_add_disabled.png') 0 0 no-repeat; }
.window form .disabled:hover, .window form .disabled:focus { background: url('../../img/bg_keyword_add_disabled.png') 0 0 no-repeat; }

/*预警图标设置*/
.window form .early_warning_link {background: url('../../img/earlywarning.png') 0 0 no-repeat; display: none; height: 25px; width: 73px; margin-top: 2px;}
.early_warning_setted {background: url('../../img/earlywarning_ok.png') 0 0 no-repeat;display: none; float: left;height: 12px;width: 16px;margin-top: 8px;}

/* 弹出框 - 关键词预览 */
.window form .preview_total_count_span {
    font-size: 15px;
    display: none;
    float: right;
    vertical-align: middle;
    height: 29px;
    line-height: 30px;
}




